body {
  background-color: #282836;
  font-family: monospace;
  color: white;
  font-size: 16px;
  padding: 0 0.7em;
  margin: 1em auto;
  max-width: 78ch;
}

header {
  padding: 1em;
  border: 1px solid white;
  border-radius: 10px;
  top: 0;
  width: 75ch;
}

a:link, a:visited  {
  color: #50ff50;
  text-decoration: none;
}

.blogpost {
  background-color: #7878a2;
  border-radius: 10px;
  padding: 7px 25px;
  margin: 1.5em 0;
}

.blogpostdate {
  margin: 1.5em 0;
}
